@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes pulse-slow {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }
}

.animate-pulse-slow {
  animation: pulse-slow 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.custom-scrollbar {
  scrollbar-width: thin;
  /* Specifies the width of the scrollbar */
  scrollbar-color: rgba(0, 0, 0, 0.5) rgba(255, 255, 255, 0);
  /* Sets the color of the scrollbar thumb and track */
  margin-right: -14px;
  /* Adjusts the right margin of the container to 
  accommodate the scrollbar */

  width: calc(100% + 14px);
  /* Adjusts the width of the container to
  accommodate the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  /* Sets the width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  /* Sets the color of the scrollbar thumb */
  border-radius: 4px;
  /* Rounds the corners of the scrollbar thumb */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.7);
  /* Sets the color of the scrollbar thumb when hovered */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0);
  /* Sets the background color of the scrollbar track */
}


